numpy==1.18.5
tqdm
scikit-learn==1.0.2
diffdist==0.1
matplotlib==3.4.2
appdirs
oslo_concurrency
pandas==1.2.4  # Compatible version to avoid np.bool issues
scipy==1.7.3
statsmodels==0.13.5
vit-pytorch